*{
  padding: 0;
  box-sizing: border-box;
}

.login-container img {
  width: 280px;
  margin-bottom: -150px;
  padding-top: 50px;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  background: #ffe6ff;
  font-family: "Poppins", sans-serif;
}

.mainTitle{
  margin-top: -150px;
}

.register-link {
  padding-bottom: 50px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Frankfurter Highlight Std';
  font-weight: 400;
  font-size: 50px;
  color: #FFFFFF;
  text-shadow: 0px 0px 30px #AF26DD;
}

.mainTitle h2{
  font-family: 'Frankfurter Highlight Std';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  text-shadow: 0px 0px 20px #AF26DD;
}

.login-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

form{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

form label{
  color:#8629B2;
  font-weight:700;
}

form input{
  width: 500px;
  background-color: white;
  height: 50px;

  border-radius: 5px;
  margin-bottom: 30px;
  color: #8629B2;
  padding-left: 20px;
  font-size: 15px;
}

form button{
  width: 500px;
  height: 60px;
  background: #D979FF;
  box-shadow: inset 0px 8px 13px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 18px;
}

validate-error {
  color: red;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 20px;
}