.vagas-container {
    background-color: #fff0fb;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    padding: 40px 20px;
}

.titulo {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #ff94df;
    margin-bottom: 25px;
}

.lista-vagas {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.vaga {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    width: 500px;
    box-shadow: 0 2px 4px #00000022;
    transition: transform 0.1s ease;
}

.vaga:hover {
    transform: scale(1.02);
}

.vaga.ocupada {
    background-color: #f5a6e0;
}

.vaga.livre {
    background-color: #f382d5;
}

.vaga-num {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.vaga-placa {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.status-icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.status-icon.ocupado {
    background-color: #fde2fa;
    color: #d63384;
}

.status-icon.liberado {
    background-color: #e1f8de;
    color: #2e8b57;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card {
    width: 90%;
    color: black;
    max-width: 400px;
    background-color: #ffe6f9;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.modal-card h2 {
    color: #c24be0;
    margin-bottom: 15px;
}

.modal-input {
    width: 220px;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    display: block;
    background-color: white;
    text-align: center;
    color: black;
}

.btn-add,
.btn-retirar {
    width: 180px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.btn-add {
    background-color: green;
}

.btn-retirar {
    background-color: red;
}

.btn-cancelar {
    margin-top: 12px;
    border: none;
    background: none;
    color: #c24be0;
    cursor: pointer;
    font-size: 16px;
}